@font-face {
    font-family: 'Source Serif Pro', serif;
    src: url(https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;1,200;1,300&display=swap%27);
}    

*
{
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
    height: auto;
    width: auto;
    font-family:  'suouce serif pro', serif;
    font-weight: 300;
}

body
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,0,112,1) 100%);
}

.pedido
{  
    display: grid;
    text-align: center;
    margin-top: 10em;
    color: #cccccc;    
}

.botoes
{
    margin-top: 50px;
    text-align: center;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 25px;
    margin-bottom: 100px;
}

.bnt
{
    background: transparent;
    border: 3px groove #ffffff;
    color: #ffffff;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-size: 1em;
}