*
{
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
    height: auto;
    width: auto;
    font-weight: 300;
    background-color: mediumslateblue;
}

header{
    margin-top: 80px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: large;
    margin-left: 15px;
    margin-right: 15px;
}
h4{
    border: 5px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    background-color: rgba(43, 56, 172, 0.096);
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}